.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

input.form-control {
  margin-top: 5px;
}

#transactionTxt {
  font-size: 30px;
}

#transactionId {
  font-size: 20px;

}

.table {
  text-align-last: center;
  border-collapse: collapse;
  
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
}